<div class="aside clearfix">   
    <div class="menu">
      <a href="#"><i class="fa fa-bars"></i></a>
      <ul>
        <li class="active"><a href=""><span><img src="../../assets/dashboard.png" alt=""></span> Dashboard</a></li>
        <li><a href=""><span><img src="../../assets/gear.png" alt=""></span> Support</a></li>
        <li><a href=""><span><img src="../../assets/backlog.png" alt=""></span> Backlog</a></li>
        <li><a href=""><span><img src="../../assets/project.png" alt=""></span> Project</a></li>
        <li><a href=""><span><img src="../../assets/news.png" alt=""></span> News</a></li>
        <li><a href=""><span><img src="../../assets/cal.png" alt=""></span> Calender</a></li>
      </ul>
    </div>
</div>