<app-header></app-header>
<div class="wrapper clearfix">

  <app-sidebar></app-sidebar>
  <div class="main">
      <div class="breadcrumbs"><span>Dashboard/</span></div>
    
      <div class="user-actions text-right">
          <a class="btn btn-primary" (click)="addEmployee();">Add Employee</a>
      </div>
      <div class="data-grid">
          <p-table [value]="users">
              <ng-template pTemplate="header">
                  <tr>
                      <th>#ID</th>
                      <th>Username (Email)</th>           
                      <th>Name</th>
                      <th>Address</th>
                      <th>Actions</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-user>
                  <tr>
                      <td>{{ user.id }}</td>
                      <td>{{ user.username }}</td>
                      <td>{{ user.firstName }} {{ user.lastName }}</td>
                      <td>{{ user.address }}</td>
                      <td><a ><i class="fa fa-pencil"></i></a></td>
                  </tr>
              </ng-template>
          </p-table>
      </div>
  </div>

</div>

<app-create-user [(display)]="showEmpCreate"></app-create-user>